body, html {
  margin: 0;
  padding: 0;
  background-color: rgb(20,15,12);
}

.main-container {
  color: white;
}

.title {
  width: 70%;
  margin-top: 4%;
  margin-left: 6%;
}

.logo {
  width: 81%;
  height: 73%;
  margin-top: 5%;
  margin-left: 10%;
  min-width: 955px;
  min-height: 396px;
  max-width: 955px;
  max-height: 396px;
}

.contact-link {
  border: none;
}

.contact-image {
  width: 38%;
  margin-left: 60%;
  margin-top: 27%;

}

